<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Connexion</title>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
        <style>
            .error {
                color: red;
            }

            input.error {
                border: 1px solid red;
            }
        </style>
    </head>
    <body id="body">
    <span th:insert="EnTete:: en_tete"></span>


    <div th:switch="${typeAction.toString()}">
        <span th:case="'ajouter'">
                <div id=sls>
                    <h1 id="etatPatient">Ajout d'un nouveau patient</h1>

                </div> 
                </br>
                <div id="formuInscr">
                    <form class="login" th:action="@{/administrateur/patient/ajouterPatient}" method="post" th:object="${patient}" onsubmit="return checkUserUnique(this);">
                        <input type="hidden" name="ajouterPatient">

                        <label for="nom">Nom : </label>
                        <input type="text" id="nom" th:field="*{nom}" required oninvalid="this.setCustomValidity('Veuillez entrer un nom')"  oninput="this.setCustomValidity('')"><br> <br>

                        <label for="prenom">Prenom : </label>
                        <input type="text" id="prenom" th:field="*{prenom}" required oninvalid="this.setCustomValidity('Veuillez entrer un prénom')"  oninput="this.setCustomValidity('')"><br> <br>

                        <label for="assuranceMaladie">Numero d'assurance maladie : </label>
                        <input type="text"id="assuranceMaladie" th:field="*{numero_assurance_maladie}" required oninvalid="this.setCustomValidity('Veuillez entrer un numéro d\'assurance maladie')"  oninput="this.setCustomValidity('')"><br> <br>

                        <label for="numeroSeqAj">Numero sequentiel : </label>
                        <input type="text" id="numeroSeqAj" name="numeroSeqAj" th:field="*{num_seq_numero_assurance_maladie}" maxlength="2" required pattern="^[0-9]*$" ><br> <br>

                        <label for="dateNaissance">Date de naissance : </label>
                        <input type="date" id="dateNaissance" th:field="*{date_naissance}" required oninvalid="this.setCustomValidity('Veuillez indiquer votre date de naissance')" oninput="this.setCustomValidity('')"><br> <br>

                        <label> Sexe : </label>

                        <label for="gender_male" id="labelgenderMs">
                            <input type="radio" id="gender_males" th:checked="${true}" value="Homme" name="sexe" >Male</label>
                        <label for="gender_female" id="labelgenderFs">
                            <input type="radio" id="gender_females" value="Femme" th:checked="${false}" name="sexe">Female</label><br> <br>


                        <label for="passwordAJ">Mot de passe:</label>
                        <input type="password" id="passwordAj" th:field="*{password}" required> <br><br>
                        <label for="idMedecinFamille">Médecin de famille:</label>
                        <select id="idMedecinFamille"  th:name="medecin">
                            <option th:value = "null">Aucun</option>
                            <span th:each="unMedecin : ${medecinService.afficherLesMedecins()}">
                                <option th:value="${unMedecin.id_medecin}">
                                    Dr. [[${unMedecin.prenom}]] [[${unMedecin.nom}]]</option>
                            </span>
                        </select> <br><br> <br><br>

                        <input type="submit"  class="btn btn-primary btn-lg" value="Ajouter le patient"  id="ssubmits">
                    </form>
                    <br>
                    <form style="display:inline;" th:action="@{/enTete/admin/pagePatients}" method="get">
                        <input style="width:100px;" type="submit" value="Annuler">
                    </form>
                </div>
        </span>
        <span th:case="'modifier'">
                <div id=lss>
                    <h1 id="etatPatients">Modifier un patient</h1>

                </div> <br><br><br>
            <span th:if="${unPatient != null}">
                    </br></br>
                    <div id="formuInscrs">
                        <form style="display:inline;" id="signupForm" class="login" th:action="@{'/administrateur/patient/modifierPatient/'+${unPatient.id_patient}}" th:object="${patient}" method="post">


                            <input type="hidden" th:name="id_patient" th:value="${unPatient.id_patient}">
                            <table style="background-color:white;margin-left:auto;margin-right:auto;">



                                <tr>
                                    <th>Informations patient</label></th>
                                    <th>Données courantes</th>
                                    <th>Modifications</th>
                                </tr>
                                <tr>
                                    <td><label for="nom">Nom : </label></td>
                                    <td>[[${unPatient.nom}]]</td>
                                    <td><input type="text"  th:name="nom"   th:value="${unPatient.nom}" required oninvalid="this.setCustomValidity('Veuillez entrer un nom')"  oninput="this.setCustomValidity('')" ></td>
                                </tr>

                                <tr>
                                    <td><label for="prenom">Prenom : </label></td>
                                    <td>[[${unPatient.prenom}]]</td>
                                    <td><input type="text" th:name="prenom"   th:value="${unPatient.prenom}" required oninvalid="this.setCustomValidity('Veuillez entrer un prénom')"  oninput="this.setCustomValidity('')">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="assuranceMaladie">Numero d'assurance maladie : </label></td>
                                    <td>[[${unPatient.numero_assurance_maladie}]]</td>
                                    <td><input type="hidden" th:name="numero_assurance_maladie"   th:value="${unPatient.numero_assurance_maladie}" >[[${unPatient.numero_assurance_maladie}]]
                                    </td>
                                </tr>

                                <tr>
                                    <td><label >Numero sequentiel : </label></td>
                                    <td>[[${unPatient.getnum_seq_numero_assurance_maladie()}]]</td>
                                    <td><input id="verifNumSeq" type="text"  th:name="num_seq_numero_assurance_maladie"   th:value="${unPatient.getnum_seq_numero_assurance_maladie()}" maxlength="2" required pattern="^[0-9]*$" oninvalid="this.setCustomValidity('Le numéro séquentiel doit être un nombre de deux chiffres')"  oninput="this.setCustomValidity('')">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="dateNaissance">Date de naissance : </label></td>
                                    <td>[[${unPatient.date_naissance}]]</td>
                                    <td><input type="date" th:name="date_naissance"   th:value="${unPatient.date_naissance}" required oninvalid="this.setCustomValidity('Veuillez indiquer votre date de naissance')" oninput="this.setCustomValidity('')">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label > Sexe : </label> </td>
                                    <td>[[${unPatient.sexe}]]</td>
                                    <td><label for="gender_male" id="labelgenderM">
                                            <input type="radio" id="gender_male" th:checked="${unPatient.sexe =='Homme'}" value="Homme" name="sexe" th:selected="${unPatient.sexe.toString() == 'Homme'}" >Male</label>
                                        <label for="gender_female" id="labelgenderF">
                                            <input type="radio" id="gender_female" th:checked="${unPatient.sexe =='Femme'}" value="Femme" name="sexe" th:selected="${unPatient.sexe.toString() == 'Femme'}" >Female</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="verifPass">Mot de passe:</label></td>
                                    <td>[[${unPatient.password}]]</td>
                                    <td><input id="verifPass" type="text" th:name="password"   th:value="${unPatient.password}" required oninvalid="this.setCustomValidity('Veuillez indiquer un mot de passe')" oninput="this.setCustomValidity('')">
                                    </td>

                                </tr>
                                <tr>
                                    <td><label >Médecin de famille :</label></td>
                                    <span th:if="${unPatient.medecin != null}">
                                        <td>Dr. [[${unPatient.medecin.prenom}]] [[${unPatient.medecin.nom}]] </td>
                                    </span>
                                    <span th:if="${unPatient.medecin == null}">
                                        <td>Aucun</td>
                                    </span>
                                    <td><select th:name="medecin">
                                            <option th:value="null" th:selected="${unPatient.medecin ==null}">
                                                Aucun</option>

                                        <span th:each="unMedecin : ${medecinService.afficherLesMedecins()}">
                                            <option th:value="${unMedecin.id_medecin}" th:selected="${unPatient.medecin == unMedecin}">
                                            Dr. [[${unMedecin.prenom}]] [[${unMedecin.nom}]]</option>
                                        </span>
                                        </select>
                                    </td>

                                </tr>
                            </table>


                            <br><br><br>

                            <input type="submit" style="display:inline;"  class="btn btn-primary btn-lg" value="Sauvegarder"  id="submits">
                        </form>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <form style="display:inline;" th:action="@{/enTete/admin/pagePatients}" method="get">
                            <input style="width:100px;" type="submit" value="Annuler">
                        </form>
                    </div>
            </span>

        </span>
        <span th:case="'supprimer'">

                    <style>
                        th {
                            text-align: left;
                            width: 500px;
                        }

                        tr tr td {
                            text-align: left;
                            padding-left: 5%;
                            width: 25%;
                        }

                        td input {
                            width: 100px;
                            margin-right: 15px;
                        }
                    </style>
                    <div id=ls>
                        <h1 id="etatPatiendt">Supression d'un patient</h1>

                    </div> <br>

                    <span th:if="${unPatient != null}">
                        </br></br>
                        <div>
                            <H1 style="margin-right: 50%">Patient: </H1>
                            <table
                                style="border: 1px solid black;border-radius: 10px;width:60%;margin: auto;background-color: white">
                                <tr>
                                    <td rowspan="2"><img th:src="@{/images/patient_icon.png}" alt="Trulli" width="125" height="125">
                                    </td>
                                    <td rowspan="2">
                                        <table>
                                            <tr>
                                                <th>Nom:</th>
                                                <td>[[${unPatient.nom}]]</td>
                                                <th>Numero d'assurance maladie:</th>
                                                <td>[[${unPatient.numero_assurance_maladie}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Prenom:</th>
                                                <td>[[${unPatient.prenom}]]</td>
                                                <th>Numéro séquentiel:</th>
                                                <td>[[${unPatient.getnum_seq_numero_assurance_maladie()}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Date de naissance:</br></th>
                                                <td>[[${unPatient.date_naissance}]]</td>
                                                <th>Sexe:</th>
                                                <td>[[${unPatient.sexe}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Nom du médecin de famille:</th>
                                                <span th:if="${unPatient.medecin !=null}">
                                                    <td>Dr. [[${unPatient.medecin.prenom}]] [[${unPatient.medecin.nom}]] </td>
                                                </span>
                                                <span th:if="${unPatient.medecin ==null}">
                                                    <td>Aucun</td>
                                                </span>


                                            </tr>
                                        </table>
                                    </td>

                            </table>
                            </br>
                            <h2 style="text-align:center"> Voulez vous vraiment supprimer ce patient ?</h2></br>
                        </div>
                        <form style="display:inline;" th:action="@{'/administrateur/patient/supprimerPatient/'+${unPatient.id_patient}}" method="post">
                            <input type="hidden" name="supprimerPatient" value="${unPatient.id}">
                            <input style="width:100px;" type="submit" value="Supprimer">
                        </form> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <form style="display:inline;" th:action="@{/enTete/admin/pagePatients}" method="get">
                            <input style="width:100px;" type="submit" value="Annuler">
                        </form>
                    </span>

        </span>

    </div>
    <!--Model dialogue
        <div class="modal fade text-center" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Avertissement</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>-->
    </body>
    <script>
        let inputNumSeq = document.getElementById('numeroSeqAj');
        inputNumSeq.oninvalid = function(event) {
            event.target.setCustomValidity('Le numéro séquentiel doit être un nombre de deux chiffres');
        }
        inputNumSeq.oninput = function(event) {
            event.target.setCustomValidity('');
        }

        let inputPass = document.getElementById('passwordAj');
        inputPass.oninvalid = function(event) {
            event.target.setCustomValidity('Veuillez indiquer un mot de passe');
        }
        inputPass.oninput = function(event) {
            event.target.setCustomValidity('');
        }


    </script>

<script>
    function checkUserUnique(form) {

        //  alert("Vérifier email");
        // $("#modalDialog").modal();
        //   jQuery("#modalDialog").modal();
        // return false;

        $.ajax({

            type : 'POST',
            url :  '[[@{/patient/check_id}]]',
            data: {numassurance:$("#assuranceMaladie").val()},

            success : function(data) {
                //   alert("Reponse venant du Serveur " + data);

                if(data==='OK'){
                    form.submit();
                }else{
                    alert("Avertissement\n"+"Il y a déjà un patient avec ce numéro d'assurance maladie : "+$("#assuranceMaladie").val())
                    // alert("Il y a déjà un utilisateur avec le même email : " + $("#email").val());
                    showModalDialog("Avertissement", "Il y a déjà un patient avec ce numéro d'assurance maladie : " + $("#assuranceMaladie").val())
                }
            }
        });

        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal("show");

    }
    $(document).ready(function () {
        $("#buttonCancel").on("click", function () {
            //L'objet window.location peut être utilisé pour obtenir l'adresse de la page actuelle (URL)
            // et pour rediriger le navigateur vers une nouvelle page
            window.location = "[[@{/enTete/connexion/patient}]]";
        });


    });
</script>
<span th:insert="pied:: pied_de_page"></span>
</html>
