<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Connexion</title>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
        <style>
            .error {
                color: red;
            }

            input.error {
                border: 1px solid red;
            }
        </style>
    </head>
    <body id="body">
    <span th:insert="EnTete:: en_tete"></span>

    <div th:switch="${typeAction.toString()}">
            <span th:case="'ajouter'">
                <div id=ls>
                    <h1 id="etatMedecin">Ajout d'un nouveau médecin</h1>

                </div> 
                </br>
                <div id="formuInscr">
                    <form class="login" th:action="@{/administrateur/medecin/ajouterMedecin}" method="post" th:object="${medecin}">

                        <label for="nom">Nom : </label>
                        <input type="text" th:field="*{nom}" id="nom"><br> <br>

                        <label for="prenom">Prenom : </label>
                        <input type="text" name="prenom" id="prenom" th:field="*{prenom}"><br> <br>

                        <label for="specialite">Spécialité : </label>
                        <select id="specialite" th:name="specialite">
                            <span th:each="unServiceClinique : ${servicesCliniqueService.afficherServicesCliniques()}">
                                <option th:value="${unServiceClinique.id_service}" >
                                    [[${unServiceClinique.nom}]]</option>
                                </span>
                        </select> <br> <br>

                        <label for="numeroProfessionel">Numéro de professionel : </label>
                        <input type="text" name="numeroProfessionel"  th:field="*{id_medecin}"><br> <br>

                        <label for="facturation">Facturation : </label>
                        <input type="text" name="facturation" id="facturation" th:field="*{facturation}"><br> <br>

                        <label for="coordonnees">Coordonnées : </label>
                        <input type="text" name="coordonnees" id="coordonnees" th:field="*{coordonnees_medecin}"><br> <br>

                        <label for="password">Mot de passe:</label>
                        <input type="password" name="password" id="password" th:field="*{password}"> <br><br>

                        <label for="password">Clinique : </label>
                        <select name="idClinique" th:name="clinique">
                            <option th:value= "null">Aucun</option>
                            <span th:each="uneClinique : ${cliniqueService.afficherLesCliniques()}">
                                <option th:value="${uneClinique.id_clinique}">
                                    [[${uneClinique.nom}]]</option>
                            </span>
                        </select> <br><br>



                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Ajouter le médecin</button>

                    </form>
                    <br>
                    <form style="display:inline;" th:action="@{/enTete/admin/pageMedecin}" method="get">
                        <input style="width:100px;" type="submit" value="Annuler">
                    </form>
                </div>

            </span>

            <span th:case="'modifier'">
                <div id=ls>
                    <h1 id="etatMedecin">Modifier un médecin</h1>

                </div> <br><br><br>
                <span th:if="${unMedecin != null}">
                    </br></br>
                    <span id="formuInscr">
                        <form style="display:inline;" id="signupForm" class="login" th:action="@{'/administrateur/medecin/modifierMedecin/'+${unMedecin.id_medecin}}" method="post" th:object="${medecin}">


                            <input type="hidden" th:name="id_medecin" th:value="${unMedecin.id_medecin}" >
                            <table style="background-color:white;margin-left:auto;margin-right:auto;">



                                <tr>
                                    <th>Informations médecin</label></th>
                                    <th>Données courantes</th>
                                    <th>Modifications</th>
                                </tr>
                                <tr>
                                    <td><label for="nom">Nom : </label></td>
                                    <td>[[${unMedecin.nom}]]</td>
                                    <td><input type="text" th:name="nom"   th:value="${unMedecin.nom}"></td>
                                </tr>

                                <tr>
                                    <td><label for="prenom">Prenom : </label></td>
                                    <td>[[${unMedecin.prenom}]]</td>
                                    <td><input type="text" th:name="prenom"   th:value="${unMedecin.prenom}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label >Specialite : </label></td>
                                    <td>[[${unMedecin.getspecialite().nom}]]</td>
                                    <td>
                                        <select th:name="specialite">
                                            <span th:each="uneSpecialite : ${servicesCliniqueService.afficherServicesCliniques()}">
                                                <option th:value="${uneSpecialite.id_service}" th:selected="${uneSpecialite.nom == unMedecin.getspecialite().nom}">
                                                    [[${uneSpecialite.nom}]]</option>
                                            </span>
                                        </select> <br> <br>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="numeroProfessionel">Numéro de professionel : </label></td>
                                    <td>[[${unMedecin.id_medecin}]]</td>
                                    <td><input type="hidden" name="numeroProfessionel" id="numeroProfessionel" value="${unMedecin.numeroProfessionel}" th:field="*{id_medecin}">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="facturation">Facturation : </label></td>
                                    <td>[[${unMedecin.facturation}]]</td>
                                    <td><input type="text" th:name="facturation"   th:value="${unMedecin.facturation}">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="coordonnees">Coordonnées : </label></td>
                                    <td>[[${unMedecin.coordonnees_medecin}]]</td>
                                    <td><input type="text" th:name="coordonnees_medecin"   th:value="${unMedecin.coordonnees_medecin}">
                                    </td>
                                </tr>

                                <tr>
                                    <td><label for="password">Mot de passe:</label></td>
                                    <td>[[${unMedecin.password}]]</td>
                                    <td><input type="text" th:name="password"   th:value="${unMedecin.password}">
                                    </td>

                                </tr>
                                <tr>
                                    <td><label >Clinique où médecin<br> est employé : </label></td>
                                            <span th:if="${unMedecin.clinique.id_clinique != 0}">
                                            <td>[[${unMedecin.clinique.nom}]]</td>
                                            </span>
                                    <span th:if="${unMedecin.clinique.id_clinique == 0}">
                                        <td>Aucun</td>
                                    </span>

                                    <td><select th:name="clinique">
                                            <option th:value="null" th:selected="${unMedecin.clinique.id_clinique ==null}">
                                                    Aucun</option>
                                            <span th:each="uneClinique : ${cliniqueService.afficherLesCliniques()}">
                                                <option th:value="${uneClinique.id_clinique}" th:selected="${unMedecin.clinique.id_clinique == uneClinique.id_clinique}">[[${uneClinique.nom}]]</option>
                                            </span>
                                        </select>
                                    </td>

                                </tr>
                            </table>


                            <br><br><br>

                            <input type="submit" style="display:inline;"  class="btn btn-primary btn-lg" value="Sauvegarder"  id="submits">
                        </form>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <form style="display:inline;" th:action="@{/enTete/admin/pageMedecin}" method="get">
                            <input style="width:100px;" type="submit" value="Annuler">
                        </form>
                    </span>
            </span>
            </span>
        <span th:case="'supprimer'">
                    <style>
                        th {
                            text-align: left;
                            width: 500px;
                        }

                        tr tr td {
                            text-align: left;
                            padding-left: 5%;
                            width: 25%;
                        }

                        td input {
                            width: 100px;
                            margin-right: 15px;
                        }
                    </style>
                    <div id=ls>
                        <h1 id="etatMedecin">Supression d'un médecin</h1>

                    </div> <br>

                    <span th:if="${unMedecin != null}">
                        </br></br>
                        <div>
                            <H1 style="margin-right: 50%">Médecin: </H1>
                            <table style="border: 1px solid black;border-radius: 10px;width:60%;margin: auto;background-color: white">
                                <tr>
                                    <td rowspan="2"><img th:src="@{/images/patient_icon.png}" alt="Trulli" width="125" height="125"></td>
                                    <td rowspan="2"><table>
                                            <tr>
                                                <th>Nom:</th>
                                                <td>[[${unMedecin.nom}]]</td>
                                                <th>Numero de professionel:</th>
                                                <td>[[${unMedecin.id_medecin}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Prenom:</th>
                                                <td>[[${unMedecin.prenom}]]</td>
                                                <th>Spécialitée:</th>
                                                <td>[[${unMedecin.getspecialite().nom}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Facturation:</br></th>
                                                <td>[[${unMedecin.facturation}]] $</td>
                                                <th>Coordonnées:</th>
                                                <td>[[${unMedecin.coordonnees_medecin}]]</td>
                                            </tr>
                                            <tr>
                                                <th>Clinique où médecin est employé:</th>
                                                <span th:if="${unMedecin.clinique.id_clinique != 0}">
                                                    <td>[[${unMedecin.clinique.nom}]]</td>
                                                </span>

                                                <span th:if="${unMedecin.clinique.id_clinique == 0}">
                                                    <td>Aucun</td>
                                                </span>

                                            </tr>
                                        </table>
                                    </td>

                            </table>
                            </br>
                            <h2 style="text-align:center"> Voulez vous vraiment supprimer ce médecin ?</h2></br>
                        </div>
                        <form style="display:inline;" th:action="@{'/administrateur/medecin/supprimerMedecin/'+${unMedecin.id_medecin}}" method="post">
                            <input type="hidden" name="supprimerMedecin" value="${unMedecin.numeroProfessionel}">
                            <input style="width:100px;" type="submit" value="Supprimer">
                        </form> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <form style="display:inline;" th:action="@{/enTete/admin/pageMedecin}" method="get">
                            <input style="width:100px;" type="submit" value="Annuler">
                        </form>
                    </span>
                </span>

    </div>



    <span th:insert="pied:: pied_de_page"></span>
    </body>
    <script src="javaScript/formValidation.js"></script>

</html>
