<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Connexion</title>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script
        src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
        <style>
            .error{
                color:red;
            }
            input.error{
                border:1px solid red;
            }

        </style>

    </head>
    <span th:insert="EnTete:: en_tete"></span>

    <div id=ls>
        <h1 id="etatPatient">Connexion Médecin</h1>

    </div> <br>
    <a style="color:black" onclick="myFunction('connection')" id="btnConnexion">Connexion</a>&nbsp;&nbsp;&nbsp;
    <a onclick="myFunction('inscription')" alt="Passe" id="btnInscription" style="text-decoration:underline;cursor:pointer;">Inscription</a>

    <body id="body">
        </br></br>
        <span th:if="${message != null}">
        <center><b><font color=red>[[${message}]]</font></b></center>
        </span>
                <div id="formuInscr" style="display:none">
                    <form id="signupForm"  class="login" th:action="@{/inscription/medecin}" method="post" th:object="${medecin}">
                        <input type="hidden" name="typeCompte" value="medecin">

                        <label for="nom">Nom : </label>
                        <input type="text" name="nom" id="nom" th:field="*{nom}" required oninvalid="this.setCustomValidity('Veuillez entrer un nom')"  oninput="this.setCustomValidity('')" ><br> <br>

                        <label for="prenom">Prenom : </label>
                        <input type="text" name="prenom" id="prenom" th:field="*{prenom}" required oninvalid="this.setCustomValidity('Veuillez entrer un prénom')"  oninput="this.setCustomValidity('')"><br> <br>

                        <label for="specialite">Specialite : </label>
                        <select id="specialite" th:name="specialite">
                            <span th:each="uneSpecialite : ${servicesCliniqueService.afficherServicesCliniques()}">
                                <option th:value="${uneSpecialite.id_service}" >
                                    [[${uneSpecialite.nom}]]</option>
                            </span>
                        </select> <br> <br>

                        <label for="numeroProfessionel">Numéro de professionel : </label>
                        <input type="text" name="numeroProfessionel" id="numeroProfessionel" th:field="*{id_medecin}" required pattern="^[0-9]*$"><br> <br>

                        <label for="facturation">Facturation : </label>
                        <input type="text" name="facturation" id="facturation" th:field="*{facturation}" required pattern="^[0-9]?[0-9]?(\.[0-9][0-9]?)?$"><br> <br>

                        <label for="coordonnees">Coordonnées : </label>
                        <input type="text" name="coordonnees" id="coordonnees" th:field="*{coordonnees_medecin}" required oninvalid="this.setCustomValidity('Veuillez indiquer vos coordonnées')"  oninput="this.setCustomValidity('')"><br> <br>

                        <label for="password">Mot de passe:</label>
                        <input type="password" name="password" id="password" th:field="*{password}" required > <br><br>

                        <label for="passwordConfirm">Confirmation du mot de passe:</label>
                        <input type="password" name="passwordConfirm" id="passwordConfirm" required> <br><br>

                        <label for="idClinique">Clinique : </label>
                        <select id="idClinique" name="idClinique" th:field="*{clinique}">
                            <option value = "0">Aucun</option>
                            <span th:each="uneClinique :${cliniqueService.afficherLesCliniques()}">
                                <option value="${uneClinique.id_clinique}">
                                    [[${uneClinique.nom}]]</option>
                            </span>
                        </select> <br><br>



                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" th:name="sauvegarde" th:value="true">
                            Se souvenir </br>
                        </label>
                    </form>
                </div>
                <div id="formuLog">
                    <form class="login" th:action="@{/connexion/medecin}" method="post">
                        <input type="hidden" name="typeCompte" value="medecin">
                        <label for="username">Numéro de professionel: </label>
                        <input type="text" th:name="username" id="username"><br> <br>

                        <label for="password">Mot de passe:</label>
                        <input type="password" th:name="password" id="passwords"> <br><br>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Se connecter</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" th:name="sauvegarde" th:value="true">Se souvenir </br>
                        </label>
                    </form>
                </div>
                </body>
                <script>


                    function myFunction(choix) {
                        if (choix === "connection") {
                            document.getElementById("formuInscr").style.display = "none";
                            document.getElementById("formuLog").style.display = "block";
                            document.getElementById("etatPatient").innerHTML = "Connexion Médecin";

                            document.getElementById("btnConnexion").style.color = "black";
                            document.getElementById("btnInscription").style.color = "white";

                            document.getElementById("btnInscription").style.textDecoration = "underline";
                            document.getElementById("btnConnexion").style.textDecoration = "none";

                            document.getElementById("btnInscription").style.cursor = "pointer";
                            document.getElementById("btnConnexion").style.cursor = "default";


                        }
                        if (choix === "inscription") {
                            document.getElementById("formuLog").style.display = "none";
                            document.getElementById("formuInscr").style.display = "block";
                            document.getElementById("etatPatient").innerHTML = "Inscription d'un Médecin";

                            document.getElementById("btnInscription").style.color = "black";
                            document.getElementById("btnConnexion").style.color = "white";

                            document.getElementById("btnConnexion").style.textDecoration = "underline";
                            document.getElementById("btnInscription").style.textDecoration = "none";

                            document.getElementById("btnConnexion").style.cursor = "pointer";
                            document.getElementById("btnInscription").style.cursor = "default";
                        }
                    }

                    let inputNumProf = document.getElementById('numeroProfessionel');
                    inputNumProf.oninvalid = function(event) {
                        event.target.setCustomValidity('Le numéro de professionnel doit être composé seulement de chiffres');
                    }
                    inputNumProf.oninput = function(event) {
                        event.target.setCustomValidity('');
                    }

                    let inputFactu = document.getElementById('facturation');
                    inputFactu.oninvalid = function(event) {
                        event.target.setCustomValidity('Votre facturation doit être un nombre');
                    }
                    inputFactu.oninput = function(event) {
                        event.target.setCustomValidity('');
                    }
                    let inputPass = document.getElementById('password');
                    inputPass.oninvalid = function(event) {
                        event.target.setCustomValidity('Veuillez indiquer un mot de passe');
                    }
                    inputPass.oninput = function(event) {
                        event.target.setCustomValidity('');
                    }

                    let password = document.getElementById("password")
                        , confirm_password = document.getElementById("passwordConfirm");

                    function validatePassword(){
                        if(password.value != confirm_password.value) {
                            confirm_password.setCustomValidity("Les mots mot passe doivent être identiques");
                        } else {
                            confirm_password.setCustomValidity('');
                        }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                </script>
                <span th:insert="pied:: pied_de_page"></span>
                <script src="javaScript/formValidation.js"></script>
                <script>
                    if (/inscriptionMedecin/.test(window.location.href)) {
                        myFunction("inscription");
                    }
                </script>
                </html>
