<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Medecin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>

    </head>

    <span th:insert="EnTete:: en_tete"></span>
    <span th:if="${message != null}">
        <div id=ls>
            <h1 id="etatMedecin">[[${message}]]</h1>
        </div>
    </span>
    
    <body id="body">
        <div id="tab">

            <div class="container">
                <h2>Bienvenue Dr.[[${MedecinService.chercherMedecinParId(session.username).prenom}]] [[${MedecinService.chercherMedecinParId(session.username).nom}]] </h2>

                <div class="section">

                    <table >
                        <tr>
                            <td>
                                <h2>Définir les créneaux de disponibilité:</h2>
                            </td>
                            <td><button onclick="document.getElementById('calForm').style.display = 'block'">Calendrier</button>
                                
                                <form id="calForm" style="display: none;" th:action="@{/medecin/definirDisponibilite}" th:object="${dispoMedecin}" method="get">
                                    <label for="date">Date:</label>
                                    <input type="hidden" th:name="medecin_dispo" th:value="${MedecinService.chercherMedecinParId(session.username).id_medecin}"/>

                                    <input type="date" id="date" th:name="date_dispo"><br><br>
                                    <label for="heureD">Heure debut: </label>
                                    <select id="heureD" name="heureD" form="calForm" th:name="heure_dispo_debut">
                                        <span th:each="uneHeureD: ${#numbers.sequence(6, 20)}" >
                                        <option th:value="${uneHeureD}">[[${uneHeureD}]]:00</option>
                                        </span>
                                    </select><br><br>
                                    <label for="heureF">Heure Fin: </label>
                                    <select id="heureF" name="heureF" form="calForm" th:name="heure_dispo_fin">
                                        <span th:each="uneHeureF: ${#numbers.sequence(6, 20)}" >
                                            <option th:value="${uneHeureF}" th:selected="${uneHeureF==18}">[[${uneHeureF}]]:00</option>
                                        </span>
                                    </select><br><br>
                                    <input type="submit" value="Ajouter créneau">
                                </form></td>

                        </tr>


                        <tr>
                            <td>
                                <h2>Modifier les créneaux:</h2>
                            </td>
                            <td>  

                                <button onclick="afficherTab">Calendrier</button>



                                <table id="creneaux-table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Heure de debut</th>
                                            <th>Heure de fin</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>


                            </td>
                        <tr>
                            <td>
                                <h2>  <a href="xyz.html">Prendre un rendez-vous avec un patient</a></h2>
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <h2> <a href="#" onclick="afficherBlock()">Envoyer une invitation a un patient:</a></h2>
                                <div id="block" style="display:none;">
                                    <h4>Chercher un patient par nom</h4>
                                    <form action="testController" method="post">
                                        <input type="search" name="nom">
                                        <input type="submit"  value="nom" />
                                    </form>

                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <h2> <a href="#" onclick="afficherMontant()">Tarif de rendez-vous:</a></h2>
                                <div id="montant" style="display:none;">
                                    <h3>Fixer le tarif</h3>
                                    <input type="number" id="tarif" name="tarif" min="0" max="9999">
                                    <button onclick="validerTarif()">Valider</button>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="section">
                    <h2 id="infoTitre">information du medecin</h2>

                    <div>
                        <img th:src="@{/images/med.png}" height="100" width=110>
                    </div>

                    <div id="courriel">
                        <h2>Vous avez un courriel de:</h2>
                    </div>


                </div>

            </div>


        </div>



        <script>
            // DIFENIR Tableau pour stocker les cr?neaux de disponibilit?
            var creneaux = [];




            function afficherTab() {
                // new function to show table
                var table = document.getElementById("creneaux-table");
                if (table.style.display === "table") {
                    table.style.display = "none";
                } else {
                    table.style.display = "table";
                }
            }

            function afficherMontant() {
                document.getElementById("montant").style.display = "block";
            }

            function   afficherBlock() {
                document.getElementById("block").style.display = "block";
            }


            function validerTarif() {
                var tarif = document.getElementById("tarif").value;
                alert("Le tarif a tarif fix " + tarif + " dollars.");
                document.getElementById("montant").style.display = "none";
            }

        </script>



    </body>

    <span th:insert="pied:: pied_de_page"></span>

</html>