<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="fr">



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Admin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                margin-left: auto;
                margin-right: auto;
                width: 50%;

            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
            }

            th {
                width: 50%;
            }


        </style>

    </head>
    <body id="body">
    <span th:insert="EnTete:: en_tete"></span>

    <h2 style="text-align:center;color: black;">Rendez-vous pour [[${PatientService.chercherPatientParAssuranceMaladie(session.username).prenom}]] [[${PatientService.chercherPatientParAssuranceMaladie(session.username).nom}]]</h2>
    <div style="height:65vh;overflow:auto;">

            </br>
            <br>
            <span th:if="${RendezVousService.chercherRendezVousParIdPatient(PatientService.chercherPatientParAssuranceMaladie(session.username)).size() != null}">
            <span th:each="unRendezvous:${RendezVousService.chercherRendezVousParIdPatient(PatientService.chercherPatientParAssuranceMaladie(session.username).id_patient)}">
                <table style="border-radius: 10px;margin-left:35%">
                    <td style="width:70vh;background-color: white;"><table style="margin-left: auto;margin-right: auto;width: 100%;">
                            <tr>
                            <tr>
                                <th>Nom du Médecin :</th>
                                <td>Dr. [[${unRendezvous.medecin_rv.nom}]] [[${unRendezvous.medecin_rv.prenom}]]</td>
                            </tr>
                            <tr>
                                <th>Date du rendez-vous</th>
                                <td>[[${unRendezvous.date_rv}]]</td>
                            </tr>
                            <tr>
                                <th>Clinique</th>
                                <td>[[${unRendezvous.medecin_rv.clinique.nom}]]</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>[[${unRendezvous.medecin_rv.clinique.coordonnees}]]</td>
                            </tr>
                            <tr>
                                <th>Heure :</th>
                                <td>[[${unRendezvous.heure_rv}]]:00</td>
                            </tr>
                            <tr>
                                <th>Raison de la Consultation :</th>
                                <td>[[${unRendezvous.raison_consult}]]</td>

                            </tr>
                            <tr>
                                <th>Description de la consultation :</th>
                                <td>[[${unRendezvous.description_consult}]]</td>
                            </tr>
                        </table></td>

                    <td style="text-align: center;border: none;"><form th:action="@{'/rendezVous/page/modifier/'+${unRendezvous.id_rendez_vous}}" method="get">

                            <input type="submit" value="Modifier le rendez-vous">
                        </form> <br><br>

                        <form th:action="@{'/rendezVous/page/supprimer/'+${unRendezvous.id_rendez_vous}}" method="get">
                            <input type="submit" value="Annuler le rendez-vous">
                        </form> </td>

                </table>
                <br><br>
            </span>
            </span>
            <span th:if="${RendezVousService.chercherRendezVousParIdPatient(PatientService.chercherPatientParAssuranceMaladie(session.username)).size() == 0}">
                <h2 style="text-align:center;color: black;">Vous n'avez aucun rendez-vous</h2>
            </span>

    </div>

            <span th:insert="pied:: pied_de_page"></span>
        </body>
</html>
