<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Admin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
        <style>
            th {
                text-align: left;
                width: 500px;
            }
            tr tr td {
                text-align: left;
                padding-left:5%;
                width:25%;
            }
            td input {
                width:100px;
                margin-right: 15px;
            }
        </style>

    </head>

    <span th:insert="EnTete:: en_tete"></span>
    <span th:if="${message != null}">
        <div id=ls>
            <h1 id="etatMedecin">[[${message}]]</h1>
        </div>
    </span>

    <body id="body">
        <div></br>
            <form th:action="@{/administrateur/medecin/envoiPageAjouter}" method="post">
                <input type="hidden" name="gestionAction" value="ajouter">
                <input type="hidden" name="idMedecin" value="00">
                <input type="submit" value="Ajouter un Médecin">
            </form>
        </div>
        <br>
        <div id="containerListe" style="height:60vh;overflow:auto;">   
            <h1 style="margin-right: 50%">Médecins: </h1>
            <span th:if="${session.listeMedecins != null}">
                    <div>
                        <span th:each="unMedecin : ${session.listeMedecins}">
                        <table style="border: 1px solid black;border-radius: 10px;width:60%;margin: auto;background-color: white">
                            <tr>
                                <td rowspan="2"><img th:src="@{/images/med.png}" alt="Trulli" width="125" height="125"></td>
                                <td rowspan="2"><table>
                                        <tr>
                                            <th>Nom:</th>
                                            <td>[[${unMedecin.nom}]]</td>
                                            <th>Numero de professionel:</th>
                                            <td>[[${unMedecin.id_medecin}]]</td>
                                        </tr>
                                        <tr>
                                            <th>Prenom:</th>
                                            <td>[[${unMedecin.prenom}]]</td>
                                            <th>Spécialitée:</th>
                                            <td>[[${unMedecin.getspecialite().nom}]]</td>
                                        </tr>
                                        <tr>
                                            <th>Facturation:</br></th>
                                            <td>[[${unMedecin.facturation}]] $</td>
                                            <th>Coordonnées:</th>
                                            <td>[[${unMedecin.coordonnees_medecin}]]</td>
                                        </tr>
                                        <tr>
                                            <th>Clinique où médecin est employé:</th>

                                            <span th:if="${unMedecin.clinique.id_clinique !=0}">
                                            <td>[[${unMedecin.clinique.nom}]]</td>
                                            </span>

                                            <span th:if="${unMedecin.clinique.id_clinique ==0}">
                                            <td>Aucun</td>
                                            </span>

                                        </tr>
                                    </table></td>
                                <td><form th:action="@{'/administrateur/medecin/envoiPageModifier/'+${unMedecin.id_medecin}}" method="post">
                                        <input type="hidden" name="gestionAction" value="modifier">
                                        <input type="hidden" name="idMedecin" value="${unMedecin.numeroProfessionel}">
                                        <input type="submit" value="Modifier">
                                    </form> </td>
                            <tr>
                                <td><form th:action="@{'/administrateur/medecin/envoiPageSupprimer/'+${unMedecin.id_medecin}}" method="post">
                                        <input type="hidden" name="gestionAction" value="supprimer">
                                        <input type="hidden" name="idMedecin" value="${unMedecin.numeroProfessionel}">
                                        <input type="submit" value="Supprimer">
                                    </form> </td></td>
                            </tr>

                            </tr>
                        </table>
                        </br>
                        </span>
                        </div>
                <span th:if="${session.listeMedecins == null}">
                    </br></br>
                    <H1 style="text-align:center;">Il n'y a aucun médecin dans la liste </H1>
                </span>
            </span>
        </div>



    </body>

    <span th:insert="pied:: pied_de_page"></span>

</html>
