<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Patient</title>

    <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>

</head>
<span th:insert="EnTete:: en_tete"></span>


<body id="body">


    <div><br>
        <h1 style="margin-right: 75%">Profil patient: </h1> 
        <table id="tableService">
            <tr id="serviceRow">
                <td>
                    <h2><a href="xyz" class="services">Votre nom :</a></h2>
                    [[${PatientService.chercherPatientParAssuranceMaladie(session.username).prenom}]] [[${PatientService.chercherPatientParAssuranceMaladie(session.username).nom}]]
                </td>
                <td>
                    <h2><a href="xyz" class="services">Numéro d'assurance maladie</a></h2>
                    ${PatientService.chercherPatientParAssuranceMaladie(session.username).numero_assurance_maladie}
                    
                </td>
            </tr>
            <tr id="serviceRow">
                <td>
                    <h2><a href="xyz" class="services">Date de naissance</a></h2>
                    ${PatientService.chercherPatientParAssuranceMaladie(session.username).date_naissance}
                </td>
                <td>
                    <h2><a href="xyz" class="services">Numéro séquentiel</a></h2>
                    ${PatientService.chercherPatientParAssuranceMaladie(session.username).num_seq_numero_assurance_maladie}
                </td>
            </tr>
            <tr id="serviceRow">
                <td>
                    <h2><a href="xyz" class="services">Sexe</a></h2>
                    ${PatientService.chercherPatientParAssuranceMaladie(session.username).sexe}
                </td>
            </tr>
            <tr id="serviceRow">
                <td>
                    <h2><a href="xyz" id="services">Clinique pres de chez soi (Code Postal):</a></h2>
                </td>
            </tr>
        </table>


    </div>


    <button id="souF" type="submit">Soumettre formulaire</button>
    
</body>

<span th:insert="pied:: pied_de_page"></span>

</html>