<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html>
<span th:fragment="pied_de_page">
    <body>
        
        <footer id="footer">
            <div class="container">
                <span th:if="${session.typeCompte !=null}">
                <h3> <a th:href="@{/deconnexion}">Déconnexion</a></h3>
                </span>
                <h3><a href="xyz">Chat 24/24</a></h3>
                <h3><a href="xyz">Langue Fr/En</a></h3>

            </div>
        </footer>
    </body>
</span>
</html>
